<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Mode" value="INTERVAL" />
    <add key="IntervalMinutes" value="1" />
    <add key="ScheduleTime" value="14:50" />
    <add key="Username" value="SiamSmile" />
    <add key="Password" value="Admin@1234" />
    <add key="UsernameWindowService" value="SiamSmileAuth" />
    <add key="PasswordWindowService" value="Admin@1234Auth" />
    <add key="IsTest" value="False" />
    <add key="CurrentProvider" value="3" />
    <add key="ThreadDelayMillisecond" value="10" />
    <add key="TaskCount" value="10" />
    <add key="DebugMode" value="1" />
    <add key="ShineeUsername" value="siamsmile" />
    <add key="ShineePassword" value="sm4sm5#" />
    <add key="ShineeEndpoint" value="https://marketing.verkoffice.com/bulk_sms_shinee/bulk_api/SubmitBroadcast.php" />
    <add key="ClicknextApiKey" value="0befae9365da50c0ffd0af39b826fe0f" />
    <add key="ClicknextSecretKey" value="yniPMYlGDfqnW694" />
    <add key="ClicknextEndpoint" value="https://portal-otp.smsmkt.com/api/" />
  </appSettings>
  <connectionStrings>
    <!--<add name="CommunicateV1Entities" connectionString="metadata=res://*/SMSModel.csdl|res://*/SMSModel.ssdl|res://*/SMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=CommunicateV1;user id=Ws_SmileSCommunicateService;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CommunicateV1Entities" connectionString="metadata=res://*/SMSModel.csdl|res://*/SMSModel.ssdl|res://*/SMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=CommunicateV1;user id=DevDBA;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SMSServiceBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://member.smsmkt.com/webservice/SMSService.php"
        binding="basicHttpBinding" bindingConfiguration="SMSServiceBinding"
        contract="SMSService.SMSServicePortType" name="SMSServicePort" />
    </client>
  </system.serviceModel>
</configuration>