<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SmileSCommunicate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
	<system.web>
		<globalization culture="th-TH" uiCulture="th" />
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="RouteJs" />
			<add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
			<remove name="WebHelpers" />
			<add name="WebHelpers" verb="GET" path="WebHelpers.axd" type="WebHelpers.Mvc5.Enum.EnumHandler" preCondition="integratedMode" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<!--
    exposeAllRoutes: Sets whether to expose all routes to the site.
    If true, all routes will be exposed unless explicitly hidden using the [HideRoutesInJavaScript]
    attribute on the controller. If false, all routes will be hidden unless explicitly exposed
    using the [ExposeRoutesInJavaScript] attribute.

    lowerCaseUrls: Sets whether urls should be converted to lowercase.
    If true, urls will be converted to lowercase while preserving route value placeholders.
    Example: "Posts/{postKey}/Edit" -> "posts/{postKey}/edit"
  -->
	<routeJs exposeAllRoutes="true" lowerCaseUrls="false" />
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<connectionStrings>
		<add name="CommunicateV1Entities" connectionString="metadata=res://*/Models.CommunicateModel.csdl|res://*/Models.CommunicateModel.ssdl|res://*/Models.CommunicateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=CommunicateV1;user id=devdba;password=-v200wfhxt;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="CommunicateV1Entities" connectionString="metadata=res://*/Models.CommunicateModel.csdl|res://*/Models.CommunicateModel.ssdl|res://*/Models.CommunicateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=CommunicateV1;user id=Ws_SmileSCommunicateService;password=wxFi'giupodyog5vt;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<applicationSettings>
		<SmileSCommunicate.Properties.Settings>
			<setting name="TokenName" serializeAs="String">
				<value>SiamsmileToken</value>
			</setting>
			<setting name="LoginPageURL" serializeAs="String">
				<value>http://uat.siamsmile.co.th:9110/Auth/Login</value>
			</setting>
			<setting name="LogoutURL" serializeAs="String">
				<value>http://uat.siamsmile.co.th:9110/Auth/Logout</value>
			</setting>
			<setting name="LogoutAllURL" serializeAs="String">
				<value>http://uat.siamsmile.co.th:9110/Auth/LogoutAll</value>
			</setting>
			<setting name="ChangePasswordURL" serializeAs="String">
				<value>http://uat.siamsmile.co.th:9110/Auth/ChangePassword</value>
			</setting>
			<setting name="SearchSMSByPhone" serializeAs="String">
				<value>http://uat.siamsmile.co.th:9215/api/sms/SearchByPhoneNumber</value>
			</setting>
			<setting name="SearchSMSByCriteria" serializeAs="String">
				<value>http://uat.siamsmile.co.th:9215/api/sms/SearchByCriteria</value>
			</setting>
			<setting name="SecretKey" serializeAs="String">
				<value>$ecretKeyF0rUAT</value>
			</setting>
			<setting name="Fund_SMS_StatusList" serializeAs="String">
				<value>17</value>
			</setting>
			<setting name="Premium_SMS_StatusList" serializeAs="String">
				<value>12,13</value>
			</setting>
			<setting name="Claim_SMS_StatusList" serializeAs="String">
				<value>16</value>
			</setting>
		</SmileSCommunicate.Properties.Settings>
	</applicationSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SMSServiceBinding" />
				<binding name="BasicHttpBinding_ISSOService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://member.smsmkt.com/webservice/SMSService.php" binding="basicHttpBinding" bindingConfiguration="SMSServiceBinding" contract="SmsServiceReference.SMSServicePortType" name="SMSServicePort" />
			<endpoint address="http://uat.siamsmile.co.th:9110/Services/SSOService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISSOService" contract="SSOService.ISSOService" name="BasicHttpBinding_ISSOService" />
		</client>
	</system.serviceModel>
</configuration>