<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SmileSCommunicateRESTfulService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<globalization culture="th-TH" uiCulture="th" />
		<compilation debug="true" targetFramework="4.6.1" />
		<!--ADD maxRequestlength 10-06-2019-->
		<httpRuntime targetFramework="4.6.1" maxRequestLength="2147483647" />
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--ADD 10-06-2019-->
		<security>
			<requestFiltering>

				<!-- limit post size to 10mb, query string to 256 chars, url to 1024 chars -->
				<requestLimits maxQueryString="256" maxUrl="1024" maxAllowedContentLength="102400000" />
			</requestFiltering>
		</security>
		<!--END-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.5.0" newVersion="1.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="CommunicateV1DBContext" connectionString="metadata=res://*/Models.CommunicateModel.csdl|res://*/Models.CommunicateModel.ssdl|res://*/Models.CommunicateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=CommunicateV1;user id=DevDBA;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="CommunicateV1DBContext" connectionString="metadata=res://*/Models.CommunicateModel.csdl|res://*/Models.CommunicateModel.ssdl|res://*/Models.CommunicateModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=CommunicateV1;user id=Ws_SmileSCommunicateService;password=wxFi'giupodyog5vt;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SMSServiceBinding" />
				<binding name="BasicHttpBinding_IEmployeeService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://member.smsmkt.com/webservice/SMSService.php" binding="basicHttpBinding" bindingConfiguration="SMSServiceBinding" contract="SMKTSMSService.SMSServicePortType" name="SMSServicePort" />
			<endpoint address="http://uat.siamsmile.co.th:9204/Module/Employee/EmployeeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="EmployeeService.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<SmileSCommunicateRESTfulService.Properties.Settings>
   <setting name="PublishUAT" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsUAT" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="JWTKey_UAT" serializeAs="String">
    <value>wx]jk[vldyog5vt</value>
   </setting>
   <setting name="JWTKey_Production" serializeAs="String">
    <value>wx]jk[vldyog5vt</value>
   </setting>
   <setting name="Allow_Project_ID_PROD" serializeAs="String">
    <value>9</value>
   </setting>
   <setting name="ProviderID_Default" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="Allow_Project_ID_UAT" serializeAs="String">
    <value>9,99,199</value>
   </setting>
   <setting name="OTPTypeID_Default" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="OTPTimeout_Default" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ClickNext_ApiKey" serializeAs="String">
    <value>0befae9365da50c0ffd0af39b826fe0f</value>
   </setting>
   <setting name="ClickNext_SecretKey" serializeAs="String">
    <value>yniPMYlGDfqnW694</value>
   </setting>
   <setting name="ClickNext_ProjectKeyOTP" serializeAs="String">
    <value>87c4c931a9</value>
   </setting>
   <setting name="Shinee_KeyAuth" serializeAs="String">
    <value>870d7bb1eb0be25e35a279250db34078</value>
   </setting>
   <setting name="ClickNext_EndPoint" serializeAs="String">
    <value>https://portal-otp.smsmkt.com/api/</value>
   </setting>
   <setting name="Shinee_SmsEndPoint" serializeAs="String">
    <value>https://marketing.verkoffice.com/bulk_sms_shinee/bulk_api/SubmitBroadcast.php</value>
   </setting>
   <setting name="Shinee_OtpEndPoint" serializeAs="String">
    <value>https://marketing.verkoffice.com/otp_new/rqotp.php</value>
   </setting>
   <setting name="Shinee_VerifyEndPoint" serializeAs="String">
    <value>https://marketing.verkoffice.com/otp_new/verify.php</value>
   </setting>
   <setting name="Shinee_SmsUsername" serializeAs="String">
    <value>siamsmile</value>
   </setting>
   <setting name="Shinee_SmsPassword" serializeAs="String">
    <value>sm4sm5#</value>
   </setting>
   <setting name="Shinee_OtpUsername" serializeAs="String">
    <value>siamsmile</value>
   </setting>
   <setting name="Shinee_OtpPassword" serializeAs="String">
    <value>S145smile</value>
   </setting>
   <setting name="SenderID_Default" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="SmsTypeID_Default" serializeAs="String">
    <value>2</value>
   </setting>
  </SmileSCommunicateRESTfulService.Properties.Settings>
	</applicationSettings>
</configuration>
<!--eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0aWQiOjl9.XX7R_Ik8pydv2e04ZvrDew8tlszSDrjvTEYKdgO4t7A-->